<div class="third_page_full_div">
  <h2>Scheme of Studies</h2>
  <div id="part_1_div">
    <div id="part_1">
      <p class="part_headding sub_small_head">Part-1: Academic Performance: Scholastic Areas</p>
      <ol start="1">
        <li>
            <p><span class="bullet">(a)</span><span class="tittle">Scheme of Studies</span> -
                  A Candidate is required to Study :<br/>
                  Language I  English or Hindi<br/>
                  Language II (any language other than Language I),<br/>
                  Mathematics <br/>
                  Science and <br/>
                  Social Science<br/>
                  <span class="tittle">Additional Subject (Optional) </span>:
                  Any Language other than language I/II/Commerce,Painting,music Home Science and Fundamental of Information Technology
             </p>
               <p><span class="bullet">(b)</span>
                Candidate with Learning Disabilities may offer:<br/>
                English or Hindi and any four out of-Mathematics,Science,Social Science,other one /Two language (s),Commerce,Painting,Music,Home Science and fundamental of Information Technology.
                </p>
        </li>
        <li>
           <p style="margin-left: 0px;">Each academic year has been divided into two terms.<br/>
             First Term  :FA1(10%)+FA2(10%)+SA1(30%)=50%<br/>
             Second Term :FA3(10%)+FA4(10%)+SA2(30%)=50%
           </p>
             <div class="left_div">
                        <label>FA-Formative Assessment<span>:</span></label>
                        <label>SA-Summative Assessment<span>:</span></label>
             </div>
             <div class="right_div">
                   <label>School based internal assessment.</label>
                   <label>Question papers and Making Scheme supplied by the Board and assessment carried out by the School.</label>
             </div>
         </li>
         <li>

            <p> <span class="bullet">(a)</span>To qualify in a subject under  Scholastic Areas,a candidate must obtain minimum of grade D</p>
            <p> <span class="bullet">(b)</span>Those  candidate  who have  obtained Grade E1 or E2 in the subject under Scholastic Areas shall have to improve their performance to qualify in the subject(s).</p>

         </li>
         <li>
           <p> In respect of candidates offering an additional 6<sup>th</sup>  subject,the following normal shall apply:-</p>
            <p>A language  offered as an additional subject  may replace a language  in the event of a candidate not qualifying in the same provided after replacement the candidate has English or Hindi as one of the languages</p>
         </li>
         <li>
           <p> A candidate must obtain minimum of grade D in all the subjects under Scholastic Areas excluding the additional 6<sup>th</sup> subject as per Scheme of Studies for submission in class X. </p>
         </li>
      </ol>
    </div>
    
    <div id="part_2">
       <p class="part_headding sub_small_head">Part-2: Scholastic Areas (Skills  and Suggestive activities):</p>
      <ol starts="2">
        <li>
            <p> <span class="bullet">(A)</span><span class="tittle">Life Skills:</span><br/></p>
            <div class="left_div">
              <label>Thinking Skills<span>:</span></label>
              <label>Social Skills<span>:</span></label>
              <label>Emotional Skills<span>:</span></label>
            </div>
            <div class="right_div">
              <label> Self awareness, Problem solving,Decision Making,Critical and Creative thinking.</label>
              <label>Interpersonal Relationships,Effective Communication and Empathy </label>
              <label>  Managing Emotions and Delaying with Stress</label>
            </div>
            <p> <span class="bullet">(B)</span><span class="tittle">Work Education:</span><br/>Cookery Skills,Preparation of stationery items,Tying and dyeing  and screen printing,Recycling of paper,  Hand embroidery,Running a book bank, Repair and maintenance of domestic electrical gadgets, Computer operation and maintenance,Photography etc.</p>
            <p> <span class="bullet">(c)</span><span class="tittle">Visual and Performing Arts:</span><br/>Musical(vocal,Instrumental),Dance,Drama,Drawing,Painting, Craft,Sculpture,Puppetry,Folk Art Forms etc.</p>
            <p> <span class="bullet">(c)</span><span class="tittle">Attitude and Values towards:</span><br/>Teachers,School-Mates,School Programmes & Environment and Values Systems</p>
        </li>
      </ol>
    </div>
  </div>
  <div id="part_2_div">
   <div id="part_3">
    <p class="part_headding sub_small_head">Part-3: Co-Scholastic Activities:</p>
    <ol start="3">
      <li>
        <p> <span class="bullet">(A)</span><span class="tittle">Suggestive activities (Any two to be assessed)</span><br/>

        <ol start="1" class="sub_ol">
          <li><p><span class="short_title">Literary and Creative Skills:</span>
            Debate,Declamation,Creative Writing ,Recitation,Essay Writing,Poster-Making ,Slogan writing etc.</p>
          </li>
          <li><p><span class="short_title">Scientific Skills:</span>
           Science Club ,Projects,Math Club,Science Quiz,Science Exhibition ,Olympiads, etc.</p>
          </li>
          <li><p><span class="short_title">Information and Technology:</span>
           PowerPoint presentation,Website and Cover Page Designing Communication ,Animation ,Programming,E books etc</p>
          </li>
          <li><p><span class="short_title">Organizational and  Leadership Skills(Clubs) :</span>
           Eco club,Health and Wellness Club, Disaster Management leadership Skills Club, AEP and other Clubs.</p>
          </li>
        </ol>
       </p>
      </li>
    </ol>
    <ol start="3">
      <li>  <p> <span class="bullet">(B)</span><span class="tittle">Health and physical Activities (Any two to be assessed):</span><br/></p>
        <div class="left_div">
          <ol start="1">
            <li value="1"> Sports/Indigenous Sport<br/>(Kho-Kho etc.)</li>
            <li value="3"> Scouting and Guiding</li>
            <li value="5"> Gymnastics</li>
            <li value="7"> First Aid</li>
          </ol>
        </div>
        <div class="right_div">
          <ol start="2">
            <li> NCC/NSS<br/></li>
            <li value="4"> Swimming</li>
            <li value="6"> Yoga</li>
            <li value="8"> Gardening / Shramdaan</li>
            <li value="8"> Martial Arts</li>
          </ol>
        </div>
      </li> 
    </ol>
  </div>
    <div id="part_4"  class="separate_div">
          <p class="part_simple_headding sub_small_head">Grading System</p>
          <p class="sub_small_head">Scholastic Areas (Grading on 9 point scale)</p>
          <table class="grading_level">
            <tr>
              <td> Mark Range</td>
              <td> Grade </td>
              <td>Grade Point</td>
            </tr>
            <% m = nil %>
            <%@grading_levels.each do |g|%>
            <tr>
              <td><%= g.min_score %> - <%= m.present? ? (m-1) : 100  %> <% m = g.min_score %></td>
              <td><%=g.name%></td>
              <td><%=g.credit_points%></td>
            </tr>
            <%end%>
          </table>
           <p class="sub_small_head">Co-scholastic Areas /Activities (Grading on 5 point scale)</p>
           <%@grade_sets.each do |g_set|%>
           <p class="grade_type_head"><%=g_set.name%></p>
           <table class="grading_level">
            <tr>
              <td>Grade</td>
              <td> Grade Point Range </td>
              <td>Grade  Point</td>
            </tr>
            <%s=nil%>
            <%g_set.cce_grades.sorted_grade_points.each do |g|%>
            <tr>
              <td><%=g.name%></td>
              <%unless g.grade_point==0%>
              <td><%=g.grade_point-0.9%>-<%= g.grade_point %></td>
              <%else%>
                <td>0</td>
              <%end%>
              <td><%= g.grade_point %></td>
            </tr>
            <%end%>
           </table>
         <%end%>
    </div>
</div>
</div>
