<h5 ><%= "IA Weightage : 50%" %></h5>
<table id="pdf-table">
  <tr class="header">
    <td><%= "Indicator" %></td>
    <td><%= "Marks Obtained" %></td>
    <td><%= "Maximum Marks" %></td>
  </tr>

  <tr>
    <td><%= "A" %></td>
    <td><%= "3" %></td>
    <td><%= "5" %></td>
  </tr>
<tr>
    <td><%= "B" %></td>
    <td><%= "4" %></td>
    <td><%= "5" %></td>
  </tr>
  <tr>
    <td><%= "C" %></td>
    <td><%= "2" %></td>
    <td><%= "5" %></td>
  </tr>
  <tr>
    <td><%= "D" %></td>
    <td><%= "8" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "E" %></td>
    <td><%= "5" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "F" %></td>
    <td><%= "7" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "G" %></td>
    <td><%= "6" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "H" %></td>
    <td><%= "10" %></td>
    <td><%= "15" %></td>
  </tr>
  
</table>
<div class="cgpas">
  <div class="batch-wise"><div class="title"><%= "Formula applied" %> &nbsp; : </div><div class="val themed_text">&nbsp; avg(A,B,C)+best(2,D,E,F)+G+H </div> </div>
</div>
<div class="extender"></div>
<div class="equ_line">
  <div class="batch-wise"><div class="title">IA &nbsp;</div><div class="title">&nbsp; = &nbsp; <b>avg</b>(0.6,0.8,0.4)+<b>best</b>(<b>2</b>,0.8,0.5,0.7)+0.6+0.67 </div> </div>
</div>
<div class="equ_line">
  <div class="batch-wise"><div class="title">&nbsp;&nbsp;   &nbsp;</div><div class="title">&nbsp; = &nbsp; (1.8/3)+(1.5/2) +0.6+0.67 </div> </div>
</div>
<div class="equ_line">
  <div class="batch-wise"><div class="title">&nbsp;&nbsp;   &nbsp;</div><div class="title">&nbsp; = &nbsp; 0.6 + 0.75 + 0.6 + 0.67 </div> </div>
</div>
<div class="equ_line">
  <div class="batch-wise"><div class="title">&nbsp;&nbsp;   &nbsp;</div><div class="title">&nbsp; = &nbsp; 2.62/4 </div> </div>
</div>
<div class="equ_line">
  <div class="batch-wise"><div class="title">&nbsp;&nbsp;   &nbsp;</div><div class="title">&nbsp; = &nbsp; 0.655 </div> </div>
</div>
<div class="extender"></div>
<div class="cgpas">
  <div class="batch-wise"><div class="val ">IA marks according to weightage &nbsp; : </div><div class="title">&nbsp;  0.655 * 50 = 32.75 <b>~ 33/50</b></div> </div>
</div>
<script type="text/css">
  j("#MB_caption").addClass('themed_text');
</script>